.gameboard {
  background-color: pink;
  max-width: 970px;
  height: 970px;
  margin: 0 auto;
}

.squares {
  display: inline-block;
  background-color: red;
  width: 320px;
  height: 320px;
  margin: 0 auto;
}
